---
export interface Props {
  walineServer: string;
}

const { walineServer } = Astro.props;
---

<link
  rel="stylesheet"
  href="https://npm.onmicrosoft.cn/@waline/client@v2/dist/waline.css"
/>

<div id="waline"></div>
<script define:vars={{ serverURL: walineServer }} type="module">
  import { init } from "https://npm.onmicrosoft.cn/@waline/client@v2/dist/waline.mjs";

  init({
    el: "#waline",
    serverURL,
    reaction: [
      "https://cdn.bootcdn.net/ajax/libs/material-design-icons/4.0.0/png/action/thumb_up/materialiconsoutlined/48dp/2x/outline_thumb_up_black_48dp.png",
      "https://cdn.bootcdn.net/ajax/libs/material-design-icons/4.0.0/png/action/thumb_down/materialiconsoutlined/48dp/2x/outline_thumb_down_black_48dp.png",
    ],
    login: "force",
  });
</script>
